pipeline/GetFiledata.json
{
	"name": "GetFiledata",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Source_Blob_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().CardTypeCode,'DC')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "WaitFalse",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 3
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[Creditcard]",
											"storedProcedureParameters": {
												"CardNumber": {
													"value": {
														"value": "@item().CardNumber",
														"type": "Expression"
													},
													"type": "String"
												},
												"CardType": {
													"value": {
														"value": "@item().CardTypeCode",
														"type": "Expression"
													},
													"type": "String"
												},
												"creditlimit": {
													"value": {
														"value": "@item().CreditLimit",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"HolderName": {
													"value": {
														"value": "@item().HolderName",
														"type": "Expression"
													},
													"type": "String"
												},
												"Issuingbank": {
													"value": {
														"value": "@item().IssuingBank",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "StoredProc_LS",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-14T07:36:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}